/* Basic Style */
.new-tasks{
  margin: 16px 0;
}

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img-eisenhower {
  width: 100%;
}

.header .header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main__task,
.main__labels {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.new-tasks__wrapper {
  display: flex;
}

/* ul, */
.incomplete-tasks__ul,
.completed-tasks__ul {
  margin: 0;
  padding: 0;
}

.incomplete-tasks__li,
.completed-tasks__li,
.main__h3 {
  list-style: none;
}

.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.main__button:hover {
  color: #3a3A3a;
}

/* Heading */

/* h3, */
.main__h3 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* input[type="text"], */
.input__text{
  box-sizing: border-box;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

/* input[type="text"]:focus, */
.input__text:focus {
  color: #333;
}

/* New Task */

.new-tasks .main__h3{
  display: block;
  margin: 0 0 20px;
}

/* #new-task, */
.new-tasks__input {
  width: 318px;
  box-sizing: border-box;
}

/* Task list */

/* li, */
.incomplete-tasks__li,
.completed-tasks__li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incomplete-tasks__li > *,
.completed-tasks__li > *{
  vertical-align: middle;
}

/* li > input[type="checkbox"], */
 .input__checkbox {
  margin: 0 10px;
}

/* li > label, */
.main__labels
 {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

/* li > input[type="text"], */
.incomplete-tasks__li > .input__text,
.completed-tasks__li > .input__text{
  width: 226px;
}

/* .delete img, */
.button__img_delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

/* button.delete img:hover, */
.button__img_delete:hover {
  transform: rotateZ(0);
}

/* Completed */

/* .complited-tasks__ul label, */
.completed-tasks__ul .main__labels {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
li .input__text {
  display: none;
}

.editMode .input__text {
  display: inline-block;
  width: 224px;
}

/* ul li.editMode label, */
.editMode .main__labels {
  display: none;
}
